body{
    background-color: #FAFAFA;
}
#content {
  letter-spacing: -1px;
  margin-bottom: 2px;
  position: fixed;
  top: 32%;
  left: 10%;
}
#title {
  color: black;
  font-weight: bold;
  font-size: 42px;
}
#desc {
  color: #666666;
  margin-left: 8px;
  font-size: 24px;
}
#kotlin_text {
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#java_text {
  background: linear-gradient(to right, #f8981d, #4f80a0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#python_text {
  background: linear-gradient(to right, #2e68a3, #ffd745);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#android_text {
  background: #666666;
  border-bottom: 4px solid #71d88c;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#footer {
  height: 48px;
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #efc14f;
}
